<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Článok</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm.value)" *ngIf="article" role="form" lpformnum="1">
        <div class="box-body">

            <input type="hidden" name="article_id" [ngModel]="article?.article_id" name="article_id">

            <div class="row">
                <div class="col-md-6">

                    <!-- Publikovaný -->

                    <div class="form-group">
                        <app-checkbox label="Publikovať článok" name="published" [(ngModel)]="article.published"></app-checkbox>
                    </div>

                    <!--  -->

                    <div class="form-group">
                        <app-checkbox label="Článok obsahuje informácie o podujatí" name="showEvent" [(ngModel)]="show_event"></app-checkbox>
                    </div>

                    <!-- Názov článku -->

                    <div class="form-group">
                        <label for="title">Názov článku</label>
                        <input type="text" class="form-control" id="title" name="title" [ngModel]="article?.title"
                               placeholder="Názov článku"
                               autocomplete="off"
                               required
                               #title="ngModel">
                    </div>
                    <div [hidden]="title.valid || title.pristine"
                         class="alert alert-danger">
                        Názov článku je povinný
                    </div>

                    <!-- Dátum vytvorenia článku -->

                    <div class="form-group">
                        <label for="date_created">Dátum vytvorenia článku</label>
                        <input type="date" class="form-control" id="date_created" name="date_created" [ngModel]="article?.date_created"
                               placeholder="Dátum vytvorenia článku"
                               autocomplete="off"
                               required
                               readonly>
                    </div>

                    <!-- Kategorie -->

                    <div class="form-group">
                        <label>Pozície</label>
                        <ng-select name="positions"
                                   [items]="positions"
                                   bindLabel="position"
                                   [multiple]="true"
                                   placeholder="Pozície článku"
                                   [ngModel]="article?.positions"></ng-select>
                    </div>

                </div>
                <div class="col-md-6">

                    <div *ngIf="show_event">
                        <label>Údaje o podujatí</label>
                        <div class="bs-example">

                            <!-- Kategória -->
                            <div class="form-group">
                                <label>Kategória</label>
                                <ng-select name="category"
                                           [items]="categories"
                                           bindLabel="name"
                                           [multiple]="false"
                                           placeholder="Kategória"
                                           [ngModel]="article?.category"></ng-select>
                            </div>

                            <!-- Miesto konania -->

                            <div class="form-group">
                                <label for="location">Miesto konania podujatia</label>
                                <input type="text" class="form-control" id="location" name="location" [ngModel]="article?.event.location"
                                       placeholder="Miesto konania podujatia"
                                       autocomplete="off">
                            </div>

                            <!-- Prednasajuci -->

                            <div class="form-group">
                                <label for="lecturer">Prednášajúci</label>
                                <input type="text" class="form-control" id="lecturer" name="lecturer" [ngModel]="article?.event.lecturer"
                                       placeholder="Prednášajúci"
                                       autocomplete="off">
                            </div>

                            <!-- Datum podujatia (od) -->

                            <div class="form-group">
                                <label for="event_datetime_from">Dátum podujatia (od)</label>
                                <input type="date" class="form-control" id="event_datetime_from" name="event_datetime_from"
                                       [ngModel]="article?.event.event_datetime_from" placeholder="Dátum podujatia (od)"
                                       autocomplete="off">
                            </div>

                            <!-- Datum podujatia (do) -->

                            <div class="form-group">
                                <label for="event_datetime_until">Dátum podujatia (do)</label>
                                <input type="date" class="form-control" id="event_datetime_until" name="event_datetime_until"
                                       [ngModel]="article?.event.event_datetime_until" placeholder="Dátum podujatia (do)"
                                       autocomplete="off">
                            </div>

                            <!-- Čas začiatku podujatia -->

                            <div class="form-group">
                                <label for="event_starttime">Čas začiatku podujatia</label>
                                <input type="date" class="form-control" id="event_starttime" name="event_starttime"
                                       [ngModel]="article?.event.starttime" placeholder="Čas začiatku podujatia"
                                       autocomplete="off">
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Intro text -->

            <label>Intro text</label>
            <!--<app-ckeditor name="intro_text" [content]="article?.intro_text"></app-ckeditor>-->
            <ckeditor name="intro_text" [(ngModel)]="article.intro_text" [config]="config"></ckeditor>

            <!-- Article text -->

            <br>
            <label>Article text</label>
            <!--<app-ckeditor name="article_text" [content]="article?.article_text"></app-ckeditor>-->
            <ckeditor name="article_text" [(ngModel)]="article.article_text" [config]="config"></ckeditor>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Uložiť</button>
        </div>
    </form>
</div>