:host >>> .ui-select-container.ui-select-multiple {
    height: 34px;
}

:host >>> .ui-select-container.ui-select-multiple .ui-select-match-item{
    margin: 2px 0px 1px 0px !important;
}

:host >>> .ui-select-container.ui-select-multiple input.ui-select-search {
    height: 25px !important;
    padding-left: 0.7em !important;
}

.bs-example {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding: 45px 15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
}