
<div class="wrapper">

  <!-- Main Header -->
  <app-admin-main-header></app-admin-main-header>

  <!-- Left side column. contains the logo and sidebar -->
  <admin-main-side [isLoggedIn]="isLoggedIn"></admin-main-side>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Správca obsahu
        <small>Komunita Blahoslavenstiev</small>
      </h1>
      <!--<app-breadcrumbs *ngIf="breadcrumbs" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>-->
    </section>

    <!-- Main content -->
    <section class="content">

      <!--<router-outlet (activate)="onActivate($event)"></router-outlet>-->
      <router-outlet></router-outlet>

    </section>

  </div>

  <div class="control-sidebar-bg"></div>
</div>