<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/avatar.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Komunita</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form *ngIf="isLoggedIn" action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul *ngIf="isLoggedIn" class="sidebar-menu tree" data-widget="tree">
      <li class="header">Navigácia</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="{{ config.url }}"><i class="fa fa-globe"></i> <span>Stránka</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-list"></i> <span>Články</span>
          <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Nový článok</a></li>
          <li><a href="/articles">Zoznam článkov</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-sitemap"></i> <span>Menu manažér</span></a></li>
      <li><a href="#"><i class="fa fa-shopping-cart"></i> <span>Naša tvorba</span></a></li>
      <li class="bg-green"><a href="https://themequarry.com" style="background-color: rgb(0, 166, 90);"><i class="fa fa-star-o" style="color: rgb(255, 255, 255);"></i><span style="color: rgb(255, 255, 255);">Premium Templates</span></a></li></ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>